@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-background: #fafafa;
	--primary-foreground: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary-background: #0a0a0a;
		--primary-foreground: #d6d3d1;
	}
}
