@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #projectList {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
    touch-action: pan-x;
  }

  #projectList::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
}
